.raven-btn {
    background-color: var(--ctStill);
    color: #fff;
    display: inline-flex;
    align-items: center;
    line-height: 1.5;
    font-weight: 500;
    border: 1px solid var(--ctStill)
}

.raven-btn.raven-btn-size-tiny {
    padding: 0 8px;
    gap: 6px;
    border-radius: 8px;
    font-size: 10px;
    height: 24px;
}
.raven-btn.raven-btn-size-small {
    padding: 0 16px;
    gap: 8px;
    border-radius: 12px;
    font-size: 12px;
    height: 32px;
}
.raven-btn.raven-btn-size-medium {
    padding: 0 16px;
    gap: 12px;
    border-radius: 12px;
    font-size: 14px;
    height: 40px;
}